form {
    @extend %flex-center-parent;
    flex-direction: column;
    margin: 2rem auto;
    text-align: left;
    width: 40%;
    min-width: 400px;
    max-width: 600px;
    label {
        opacity: 0.8;
    }
} 

input:not(.button), textarea {
    margin : {
        top: 0.5rem;
        bottom: 1.5rem;
    }
    border-radius: $border-radius-xs;
    background-color: gray;
    font-family: $main-font;
    color: $main-color;
    padding: 1rem;
    opacity: 0.5;
    &::placeholder{
        color: $main-color;
    }
}

@media only screen and (max-width: 567px) {

    form {
        font-size: 1.25rem;
    }
}

@media only screen and (max-width: 467px) {

    form {
        min-width: 85%;
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 320px) {
    
    form {
        min-width: 95%;
        font-size: 2rem;
    }
}