#about-me .container {
    @extend %flex-center-children;
    flex-direction: column;
    width: 40%;
    min-width: 500px;
    max-width: 800px;
    font-size: 1.25rem;
    margin: auto;
}

#about-me .content {
    margin: 2rem 0 2.5rem 0;
    padding: 0 1rem;
    text-align: left;
    span {
        font-family: Argon;
        font-size: 2.5rem;
    }
}

@media only screen and (max-width: 567px) {

    #about-me .container {
        min-width: 75%;
        font-size: 1.5rem;
    }

    #about-me .content span {
        font-size: 3rem;
    }
}

@media only screen and (max-width: 467px) {

    #about-me .container {
        min-width: 85%;
        font-size: 2rem;
    }

    #about-me .content span {
        font-size: 3.5rem;
    }
}

@media only screen and (max-width: 320px) {
    
    #about-me .container {
        min-width: 90%;
        font-size: 2.5rem;
    }

    #about-me .content span {
        font-size: 4rem;
    }
}

.image-container-circle {
    width: 40%;
    overflow: hidden;
    box-shadow: $main-box-shadow;
    border-radius: 50%;
    margin-bottom: 3rem;
    display: none;
}