header {
    width: 100%;
    height: 10rem;
    line-height: 5rem;
    z-index: 1;
    overflow: hidden;
    position: relative;
    .left {
        font : {
            size: 2.5rem;
            family: $secondary-font-1;
        }
        margin: 2% 5%;
    }
    .right {
        margin: 2% 5%;
    }
    li {
        display: inline-block;
        margin: 0 2rem;
    }
}

#heading-wrapper {
    position: relative;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    width: 60%;
}

nav {
    &.tablet, &.mobile {
        display: none;
    }
}

@media only screen and (max-width: 768px) {

    nav {
        &.desktop {
            display: none;
        }
        &.tablet {
            display: block;
        }
        &.tablet .collaspe {
            display: inline-block;
            position: absolute;
            right: -59%;
            border-radius: $border-radius-sm;
            background-color: $main-bg-color;
            transition: $nav-transitions;
            &:hover {
                transform: translateX(-85%);
            }
        }
    }

    #heading-wrapper {
        width: 90%;
    }

    .button {
        width: 40%;
    }
}

@media only screen and (max-width: 745px) {

    nav {
        &.tablet .collaspe {
            right: -60%;
        }
    }
}

@media only screen and (max-width: 567px) {

    nav {
        &.tablet {
            display: none;
        }
        &.mobile {
            display: block;
        }
    }

    .mobile li {
        margin: 8% 12%;
    }

    #main-hero {
        height: 40rem;
    }

    h1 {
        font-size: 4rem;
    }

    button {
        min-width: 30%;
        font-size: 1.5rem;
        padding: 1.5rem;
    }
}

@media only screen and (max-width: 467px) {

    #main-hero {
        height: 50rem;
    }

    h1 {
        font-size: 5rem;
    }

    h2 {
        font-size: 3rem;
    }

    button {
        min-width: 40%;
        font-size: 1.75rem;
        padding: 2rem;
    }
}

@media only screen and (max-width: 367px) {

    h1 {
        margin-bottom: 4rem;
    }

    h2 {
        font-size: 4rem;
    }
}