button, .button {
    min-width: 20%;
    padding: 1rem;
    border: $main-border;
    border-radius: $border-radius-xs;
    background-color: transparent;
    color: $secondary-color-1;
    text-align: center;
    font-weight: 300;
    line-height: 1rem;
    box-shadow: $main-box-shadow;
    transition: $button-transitions;
    cursor: pointer;
    &:hover {
        border-color: $main-color;
        color: $main-color;
        box-shadow: $secondary-box-shadow-1;
    }
}

.button {
    min-width: 30%;
    max-width: 35%;
    margin: auto;
}