* {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color:  seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
    box-sizing: border-box;
}

nav {
    position: fixed;
    height: 69px;
    width: 100%;
    background-color: black;
    border-bottom: 1px solid seashell;
    z-index: 2;
}
nav img {
    position: absolute;
    left: 0px;
    height: 50px;
    margin: 10px;
}

.top-nav {
    position: relative;
    float: right;
    top: 20px;
}
nav li {
    display: inline;
}

nav li a {
    color: seashell;
    margin: 10px;
}

.section-header h2 {
    margin-bottom: 20px;
}

#misson {
    position: relative;
    height: 700px;
    width: 1200px;
    overflow: hidden;
}

picture img {
    object-fit: cover;
    object-position: 0 0;
}

.banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    width: 1200px;
    padding: 10px;
}

#featured-tea {
    margin: auto;
    margin-top: 75px;
    width: 1000px;
}

.featured {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
}

.teas {
    margin: 10px 15px;
}

.teas img {
    height: 200px;
    width: 300px;
}

figcaption {
    margin-top: 10px;
}

#locations {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 500px;
    overflow: hidden;
    margin-top: 65px;
}

#locations h2 {
    position: absolute;
    top: 60px;
    z-index: 1;
}

.addresses {
    display: inline-flex;
    position: absolute;
}

address h3 {
    margin-top: 15px;
}

address {
    height: 275px;
    width: 300px;
    line-height: 2.5;
    background-color: black;
    margin: 20px;
    font-style: normal;
}

footer {
    height: 200px;
    margin-top: 10px;
}
footer h5 {
    line-height: 3;
    margin-top: 10px;
}

.copyright {
    text-align: left;
    margin: 20px;
}
