.About {
    width: 100%;
    min-height: 100vh;
    margin: 1rem auto;
}

.About__title {
    text-align: center;
    margin: 1rem;
}

.About__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    min-width: 200px;
    max-width: 1000px;
    font-size: 1.5rem;
    margin: 1rem auto;
    padding: 1rem;
}

.About__image {
    width: 50%;
    min-width: 214px;
    max-width: 428px;
    height: auto;
    overflow: hidden;
}

.About__content {
    margin: 2rem auto;
    text-align: justify;
}

/* Media Queries */

@media only screen and (max-width: 1000px) {

    .About__container {
        width: 80%;
    }
}

@media only screen and (max-width: 600px) {

    .About__container {
        width: 100%;
    }

    .About__content {
        margin: 2rem auto;
        text-align: left;
    }
}

@media only screen and (max-width: 300px) {

    .About__title {
        font-size: 2.5rem;
    }
}