.Skills {
    padding: 3rem 2rem;
}

.Skills__title {
    text-align: center;
}

.Skills__table {
    border-spacing: 0 5px;
    border-radius: 5px;
    padding: 1rem;
    width: 80%;
    margin: 2rem auto;
}

.Skills__table__header {
    margin: auto 1rem;
}

.Skills__table__data {
    background-color: rgba(225, 240, 250, 0.2);
    padding: 0.5rem;
    border-bottom: 1px solid #E1F0FA;

}

.Skills__table__data:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.Skills__table__data:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.Skills__table__span {
    background-color: white;
    margin: 0.5rem;
    padding: 0.5rem;
}

.Skills__table__experience {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.Skills__table__level {
    width: 50px;
    height: 50px;
    border-right: 1px solid slategray;
    text-align: center;
    color: white;
    background-color: black;
    opacity: 0.8;
}

.Skills__icons {
    display: none;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1000px;
    margin: 3rem auto;
}

.Skills__icons__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 1rem;
}

.Skills__icon {
    width: 130px;
    height: auto;
    overflow: hidden;
}

/* Media Queries */

@media only screen and (max-width: 1100px) {

    .Skills__table {
        width: 100%;
    }
}

@media only screen and (max-width: 900px) {

    .Skills__table {
        display: none;
    }

    .Skills__icons {
        display: flex;
    }
}

@media only screen and (max-width: 400px) {

    .Skills {
        padding: 2rem 1rem;
    }
}