.Navbar {
    width: 100%;
    position: fixed;
    padding: 2rem;
    z-index: 2;
    color: white;
}

.Navbar__scroll {
    color: black;
    background: white;
    border-bottom: 1px solid black;
}

.Navbar__desktop, .Navbar__tablet, .Navbar__phone {
    display: flex;
    justify-content: space-between;
}
  
.Navbar__sitename {
    font-family: Advent Pro;
}

.Navbar__site__description {
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 1rem;
}

.Navbar__links {
    display: flex;
    flex-direction: column;
}

.Navbar__links li {
    list-style: none;
    margin: 0 2rem;
    padding-left: 1rem;
    text-transform: uppercase;
    border-left: 3px solid transparent;
    transition: all 0.3s ease-in-out;
}

.Navbar__links li:hover {
    border-left: 3px solid lightseagreen;
}

.Navbar__tablet {
    position: relative;
}

.Navbar__collapse {
    position: absolute;
    right: -55%;
    transition: all 0.75s ease-in-out 0.1s;
}

.Navbar__collapse:hover {
    transform: translateX(-90%);
}

.Navbar__collapse li {
    margin: 0 1rem;
}

.Navbar__phone {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Navbar__tablet, .Navbar__phone {
    display: none;
}

/* Media Queries */

@media only screen and (max-width: 800px) {

    .Navbar__desktop {
        display: none;
    }

    .Navbar__tablet {
        display: flex;
    }
}

@media only screen and (max-width: 750px) {

    .Navbar__collapse {
        right: -57%;
    }
}

@media only screen and (max-width: 730px) {

    .Navbar__collapse {
        right: -60%;
    }
}

@media only screen and (max-width: 700px) {

    .Navbar__tablet {
        display: none;
    }

    .Navbar__phone {
        display: flex;
    }
}

@media only screen and (max-width: 500px) {

    .Navbar__sitename,
    .Navbar__site__description {
        display: none;
    }

    .Navbar__phone {
        justify-content: center;
    }
}